.app {
  display: flex;
  min-height: 90vh;
  position: relative; /* Добавляем для правильного позиционирования */
}

.content {
  margin-top: 60px; /* Высота шапки */
  flex-grow: 1;
  padding: 20px;
  display: flex; /* Добавляем flex для выравнивания */
  justify-content: center;
  gap: 10px;
  @media (max-width: 768px) {
    padding: 0;
    justify-content: start;
    width: 100%;
  }
}

.container {
  padding: 0 20px;
  width: 40%;
  background-color: #f0f0f0;
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
